
@{
    Layout = "/Views/Shared/_LayoutAdministracion.cshtml";
}

<div class="container">

    <h2 class="text-center">Reportes de reservas</h2>

    <!-- LINK VOLVER -->
    <div class="btn-group">
        <a href="./Inicio" class="btn btn-danger"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sede</th>
                <th>Película</th>
                <th>Hora inicio</th>
                <th>Fecha inicio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cinemania.Carteleras c in Model)
            {
                <tr>
                    <td>@c.Sedes.Nombre</td>
                    <td>@c.Versiones.Nombre</td>
                    <td>@c.Peliculas.Nombre</td>
                    <td>@c.Sedes.PrecioGeneral</td>
                </tr>
            }
        </tbody>
    </table>
</div>